//
//  debugConfig.xcconfig
//  Challenge
//
//  Created by Estelle Paus on 9/1/20.
//  Copyright © 2020 Paus Productions. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_BASE_URL = dev.tapptic.com/test/json.php
